# Next.js & Web Dependencies
node_modules/
.next/
out/
build/
dist/

# Environment Variables & Secrets
.env
.env*
.env*.local
!.env.example

# Logs & System
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.wrangler/
